<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- view base.xml file for detail: spring-boot-2.1.9.RELEASE.jar!org/springframework/boot/logging/logback/base.xml -->
	<include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- 最大保存时间 -->
    <property name="maxHistory" value="90"/>
    <!-- 日志地址 -->
    <property name="logPath" value="./logs"></property>

    <!-- 标准输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.rolling.RollingFileAppender"><!-- 日志文件会滚动 -->
        <!-- 文件路径 -->
        <file>log/log.log</file><!-- 当前的日志文件存放路径 -->
        <!-- 日志滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 历史日志文件的存放路径和名称 -->
            <fileNamePattern>log/log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志文件最大的保存历史 数量-->
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} %L - %msg%n</pattern>  <!-- 日志文件中日志的格式 -->
        </encoder>
    </appender>

    <appender name="uploadData" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/uploadData-test.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${logPath}/uploadData-test-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 最大保存时间 -->
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
    </appender>


    <logger name="uploadData">
        <appender-ref ref="uploadData"/>
    </logger>

    <!-- logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- ./logger -->
</configuration>